
$min-content-width: 1024px;
$max-content-width: 1680px;

$color-loans: #1987a5;
$color-error-messages: #e20f00;

$color-rising: #559E30;
$color-falling: $danger;
$color-constant: #464646;

$color-nav-item-header: #6A6A6A;

$navigation-border-radius: 6px;

$line-color: $border-color;

$color-sell: #E42E49;
$color-hold: #AAAAAA;
$color-buy: #559E30;
