{{define "mailSubj" -}}
Subject: Chart Depot
{{end}}

{{define "mailbody" -}}
<div>Hello my Friend,</div>
<p>here a little summary of your portfolio.</p>

<div>
    {{- range .ListOK -}}
    <div>{{.SimpleDescr}}</div>
    <div>{{.Description}}</div>
    <div>{{.CurrentPrice}} EUR, previous {{.PreviousPrice}} EUR, diff: {{.DiffPreviousPrice}} %</div>
    <div>Value: {{.TotCurrValue}} EUR, Cost: {{.TotCost}} EUR, Quantity: {{.Quantity}}</div>
    <div style="color: {{.ColorWL}};">W/L: {{.WinOrLoss}} EUR, {{.WinOrLossPerc}} %</div>
    <img src="cid:{{.ImgName}}" alt="{{.CurrentPrice}}" />
    <div><a href="{{.ChartURL}}">go to chart</a></div>
    <div><a href="{{.MoreInfoURL}}">go to more ETF info</a></div>
    <hr>
    {{- end}}
</div>

<p>Under observation:</p>
<div>
    {{- range .ListObservation -}}
    <div>{{.SimpleDescr}}</div>
    <div>{{.Description}}</div>
    <div>{{.CurrentPrice}} EUR, previous {{.PreviousPrice}} EUR, diff: {{.DiffPreviousPrice}} %</div>
    <div>Value: {{.TotCurrValue}} EUR, Cost: {{.TotCost}} EUR, Quantity: {{.Quantity}}</div>
    <div style="color: {{.ColorWL}};">W/L: {{.WinOrLoss}} EUR, {{.WinOrLossPerc}} %</div>
    <img src="cid:{{.ImgName}}" alt="{{.CurrentPrice}}" />
    <div><a href="{{.ChartURL}}">go to chart</a></div>
    <div><a href="{{.MoreInfoURL}}">go to more ETF info</a></div>
    <hr>
    {{- end}}
</div>

<div>
    {{- range .ListErr -}}
    <div>{{.ErrorText}}</div>
    <div>{{.Description}}</div>
    {{- end}}
</div>


<p>Enjoy,</p>
<p>aaaasmile</p>
{{- end}}

{{define "mailPlain" -}}
Hello friend,
here a little summary of your portfolio without images.
{{ range . }}
{{.Description}}
{{.CurrentPrice}}, previous {{.PreviousPrice}}, diff: {{.DiffPreviousPrice}} %
Value: {{.TotCurrValue}} EUR, Cost: {{.TotCost}} EUR, Quantity: {{.Quantity}}
W/L: {{.WinOrLoss}} EUR, {{.WinOrLossPerc}} %
{{- end}}

Enjoy,
aaaasmile
{{- end}}